# Quantumult X native rules converted from Sukka Ruleset.
# Source: https://ruleset.skk.moe/List/non_ip/reject-url-regex.conf
# Upstream: https://github.com/SukkaW/Surge
# License: AGPL-3.0
# Type: rewrite; policy: reject; rules: 176
# Optional: HTTPS matching may require carefully scoped MITM.
^https?://premiumyva\.appspot\.com/vmclickstoadvertisersite url reject
^https?://service\.4gtv\.tv/4gtv/Data/(GetAD|ADLog) url reject
^https?://cover\.baidu\.com/cover/page/dspSwitchAds/ url reject
^https?://c\.tieba\.baidu\.com/c/s/splashSchedule url reject
^https?://issuecdn\.baidupcs\.com/issue/netdisk/guanggao/ url reject
^https?://app\.bilibili\.com/x/v\d/(splash/|param|dm/ad|dataflow/report) url reject
^https?://app\.bilibili\.com/x/resource/abtest url reject
^https?://api\.bilibili\.com/pgc/season/(rank/cn|app/related/recommend) url reject
^https?://manga\.bilibili\.com/twirp/comic\.v\d\.comic/(flash|Flash|ListFlash) url reject
^https?://app\.bilibili\.com/x/v\d/search/(defaultword|hot|recommend|resource) url reject
^https?://app\.bilibili\.com/x/v\d/rank.*rid=(168|5) url reject
^https?://asp\.cntv\.myalicdn\.com/.+\?maxbr=850 url reject
^https?://cntv\.hls\.cdn\.myqcloud\.com/.+\?maxbr=850 url reject
^https?://v\.cctv\.com/.+\?maxbr=850 url reject
^https?://www\.cntv\.cn/nettv/adp/ url reject
^https://img-ys011\.didistatic\.com/static/ad_oss/ url reject
^https?://(discardrp|startup)\.umetrip\.com/gateway/api/umetrip/native url reject
^https?://(114\.115\.217\.129|home\.umetrip\.com)/gateway/api/umetrip/native$ url reject
^https?://act\.vip\.iqiyi\.com/interact/api/show\.do url reject
^https?://act\.vip\.iqiyi\.com/interact/api/v\d/show url reject
^https?://iface\.iqiyi\.com/api/getNewAdInfo url reject
^https?://counter\.ksosoft\.com/ad\.php url reject
^https?://.+\.kingsoft-office-service\.com/ad url reject
^https?://dict-mobile\.iciba\.com/interface/index\.php\?.+(c=ad|collectFeedsAdShowCount|KSFeedsAdCardViewController) url reject
^https?://ios\.wps\.cn/ad-statistics-service url reject
^https?://mobile-pic\.cache\.iciba\.com/feeds_ad/ url reject
^https?://service\.iciba\.com/popo/open/screens/v\d\?adjson url reject
^https?://client\.mail\.163\.com/apptrack/confinfo/searchMultiAds url reject
^https?://c\.m\.163\.com/nc/gl/ url reject
^https?://dsp-impr2\.youdao\.com/adload.s\? url reject
^https?://oimage([a-z])\d\.ydstatic\.com/.+adpublish url reject
^https?://sp\.kaola\.com/api/openad url reject
^https?://support\.you\.163\.com/xhr/boot/getBootMedia\.json url reject
^https?://agent-count\.pconline\.com\.cn/counter/adAnalyse/ url reject
^https?://mrobot\.(pcauto|pconline)\.com\.cn/v\d/ad2p url reject
^https?://mrobot\.pcauto\.com\.cn/xsp/s/auto/info/preload\.xsp url reject
^https?://mrobot\.pconline\.com\.cn/s/onlineinfo/ad/ url reject
^https?://tqt\.weibo\.cn/.+advert\.index url reject
^https?://tqt\.weibo\.cn/api/advert/ url reject
^https?://tqt\.weibo\.cn/overall/redirect\.php\?r=(tqtad|tqt_sdkad) url reject
^https?://edit\.sinaapp\.com/ua\?t=adv url reject
^https?://sdkapp\.uve\.weibo\.com/interface/sdk/(sdkad|actionad)\.php url reject
^https?://wbapp\.uve\.weibo\.com/wbapplua/wbpullad\.lua url reject
^https?://api\.k\.sohu\.com/api/news/adsense url reject
^https?://api\.tv\.sohu\.com/agg/api/app/config/bootstrap url reject
^https?://hui\.sohu\.com/predownload2/\? url reject
^https?://s1\.api\.tv\.itc\.cn/v\d/mobile/control/switch\.json url reject
^https?://b?dsp-x\.jd\.com/adx/ url reject
^https?://api\.m\.jd\.com/client\.action\?functionId=start url reject
^https?://ms\.jr\.jd\.com/gw/generic/base/na/m/adInfo url reject
^https?://huichuan\.sm\.cn/jsad url reject
^https?://iflow\.uczzd\.cn/log/ url reject
^https?://adse\.ximalaya\.com/[a-z]{4}/(feed|loading)\?appid= url reject
^https?://adse\.ximalaya\.com/ting\?appid= url reject
^https?://www\.zhihu\.com/terms/privacy/confirm url reject
^https?://api\.zhihu\.com/(market/popover|launch|ad-style-service|app_config|real_time|ab/api|commercial_api/launch|commercial_api/real_time|search/top|search/tab) url reject
^https?://(api|www)\.zhihu\.com/.*(featured-comment-ad|recommendations|community-ad) url reject
^https?://(api|www)\.zhihu\.com/(fringe|adx|commercial|ad-style-service|banners|mqtt) url reject
^https?://.+\.58cdn\.com\.cn/brandads/ url reject
^https?://app\.58\.com/api/home/(advertising/|appadv/|invite/popupAdv) url reject
^https?://app\.58\.com/api/log/ url reject
^https?://aes\.acfun\.cn/s\?adzones url reject
^https?://acs\.m\.taobao\.com/gw/mtop\.o2o\.ad\.gateway\.get/ url reject
^https?://acs\.m\.taobao\.com/gw/mtop\.trip\.activity\.querytmsresources/ url reject
^https?://acs\.m\.taobao\.com/gw/mtop\.taobao\.idle\.home\.welcome/ url reject
^https?://acs\.m\.taobao\.com/gw/mtop\.film\.mtopadvertiseapi\.queryadvertise/ url reject
^https?://acs\.m\.taobao\.com/gw/mtop\.alimusic\.common\.mobileservice\.startinit/ url reject
^https?://dsp\.toutiao\.com/api/xunfei/ads/ url reject
^https?://nnapp\.cloudbae\.cn/mc/api/advert/ url reject
^https?://gw\.aihuishou\.com/app-portal/home/getadvertisement url reject
^https?://m\d\.amap\.com/ws/valueadded/alimama/splash_screen/ url reject
^https?://7n\.bczcdn\.com/launchad/ url reject
^https?://www\.myhug\.cn/ad/ url reject
^https?://app\.api\.ke\.com/config/config/bootpage url reject
^https?://channel\.beitaichufang\.com/channel/api/v\d/promote/ios/start/page url reject
^https?://iapi\.bishijie\.com/actopen/advertising/ url reject
^https?://api\.intsig\.net/user/cs/operating/app/get_startpic/ url reject
^https?://cap\.caocaokeji\.cn/advert-bss/ url reject
^https?://(api|atrace)\.chelaile\.net\.cn/adpub/ url reject
^https?://api\.chelaile\.net\.cn/goocity/advert/ url reject
^https?://atrace\.chelaile\.net\.cn/exhibit\?&adv_image url reject
^https?://pic1\.chelaile\.net\.cn/adv/ url reject
^https?://app\.10086\.cn/biz-orange/DN/(findSale|homeSale)/getsaleAdver url reject
^https?://m\.client\.10010\.com/mobileService/customer/accountListData\.htm url reject
^https?://m\.client\.10010\.com/uniAdmsInterface/(getWelcomeAd|getHomePageAd) url reject
^https?://www\.dandanzan\.com/res/gdsefse\.js url reject
^https?://mapi\.dangdang\.com/index\.php\?action=init url reject
^https?://api\.daydaycook\.com\.cn/daydaycook/server/ad/ url reject
^https?://cms\.daydaycook\.com\.cn/api/cms/advertisement/ url reject
^https?://mobile-api2011\.elong\.com/(adgateway|adv)/ url reject
^http://\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/(adgateway|adv)/ url reject
^https?://www\.flyertea\.com/source/plugin/mobile/mobile\.php\?module=advis url reject
^https?://foodie-api\.yiruikecorp\.com/v\d/(banner|notice)/overview url reject
^https?://cdn\.api\.fotoable\.com/Advertise/ url reject
^https?://gateway\.shouqiev\.com/fsda/app/bootImage\.json url reject
^https?://m\.ibuscloud\.com/v\d/app/getStartPage url reject
^https?://smkmp\.96225\.com/smkcenter/ad/ url reject
^https?://games\.mobileapi\.hupu\.com/.+/(interfaceAdMonitor|interfaceAd|status/init) url reject
^https?://imeclient\.openspeech\.cn/adservice/ url reject
^https?://img\.jiemian\.com/ads/ url reject
^https?://api\.jxedt\.com/ad/ url reject
^https?://richmanapi\.jxedt\.com/api/ad/ url reject
^https?://static1\.keepcdn\.com/.+\d{3}x\d{4} url reject
^https?://api\.gotokeep\.com/ads/ url reject
^https?://res\.kfc\.com\.cn/advertisement/ url reject
^https?://api\.kkmh\.com/.+(ad|advertisement)/ url reject
^https?://gw-passenger\.01zhuanche\.com/gw-passenger/(car-rest/webservice/passenger/recommendADs|zhuanche-passenger-token/leachtoken/webservice/homepage/queryADs) url reject
^https?://api\.smzdm\.com/v\d/util/loading url reject
^https?://snailsleep\.net/snail/v\d/(adTask/|screen/qn/get) url reject
^https?://a\.sfansclub\.com/business/t/(ad/|boot/screen/index) url reject
^https?://api5\.futunn\.com/ad/ url reject
^https?://qt\.qq\.com/lua/mengyou/get_splash_screen_info url reject
^https?://3gimg\.qq\.com/tencentMapTouch/app/activity/ url reject
^https?://newsso\.map\.qq\.com/\?&attime= url reject
^https?://r\.inews\.qq\.com/(adsBlacklist|getBannerAds|getFullScreenPic|getQQNewsRemoteConfig|getNewsRemoteConfig|searchHotCatList|getSplash|upLoadLoc) url reject
^https?://vv\.video\.qq\.com/getvmind\? url reject
^https?://mp\.weixin\.qq\.com/mp/(advertisement_report|ad_complaint|ad_video|getappmsgad|report) url reject
^https?://szextshort\.weixin\.qq\.com/cgi-bin/mmoc-bin/ad/ url reject
^https?://y\.gtimg\.cn/music/common/upload/targeted_ads url reject
^https?://adpai\.thepaper\.cn/.+&ad= url reject
^https?://images\.client\.vip\.xunlei\.com/.+/advert/ url reject
^https?://api\.gaoqingdianshi\.com/api/v\d/ad/ url reject
^https?://pss\.txffp\.com/piaogen/images/launchScreen/ url reject
^https://app\.variflight\.com/v4/advert/ url reject
^https?://static\.vuevideo\.net/styleAssets/.+/splash_ad url reject
^https?://static\.vuevideo\.net/styleAssets/advertisement/ url reject
^https?://api\.wallstreetcn\.com/apiv\d/advertising/ url reject
^https?://app\.wy\.guahao\.com/json/white/dayquestion/getpopad url reject
^https?://thor\.weidian\.com/ares/home\.splash/ url reject
^https?://nochange\.ggsafe\.com/ad/ url reject
^https?://cmsapi\.wifi8\.com/v\d/(emptyAd/info|adNew/config) url reject
^https?://api-release\.wuta-cam\.com/ad_tree url reject
^https?://res-release\.wuta-cam\.com/json/ads_component_cache\.json url reject
^https?://api\.xiachufang\.com/v\d/ad/ url reject
^https?://mapi\.mafengwo\.cn/(travelguide/)?ad/ url reject
^https?://mob\.mddcloud\.com\.cn/api/(ad|advert)/ url reject
^https?://mangaapi\.manhuaren\.com/v\d/public/getStartPageAds url reject
^https?://img\.meituan\.net/midas/ url reject
^https?://p\d\.meituan\.net/(adunion|display|linglong|mmc|wmbanner)/ url reject
^https?://s3plus\.meituan\.net/.+/linglong/ url reject
^https?://capi\.mwee\.cn/app-api/V12/app/getstartad url reject
^https?://api\.m\.mi\.com/v\d/app/start url reject
^https?://api\.jr\.mi\.com/(v\d/adv/|jr/api/playScreen) url reject
^https?://home\.mi\.com/cgi-op/api/v1/recommendation/(banner|carousel/banners|myTab|openingBanner) url reject
^https?://api-mifit\.huami\.com/discovery/mi/discovery/(homepage_ad|sleep_ad|sport_ad|sport_summary_ad|sport_training_ad|step_detail_ad|training_video_ad)\? url reject
^https?://b-api\.ins\.miaopai\.com/1/ad/ url reject
^https?://(ggic|ggic2)\.cmvideo\.cn/ad/ url reject
^https?://app\.mixcapp\.com/mixc/api/v\d/ad url reject
^https?://api\.mgzf\.com/renter-operation/home/startHomePage url reject
^https?://cdn\.moji\.com/(adoss|adlink)/ url reject
^https?://dili\.bdatu\.com/jiekou/ad/ url reject
^https?://wap\.ngchina\.cn/news/adverts/ url reject
^https?://cmsapi\.wifi8\.com/v\d/(emptyAd|adNew)/ url reject
^https?://app3\.qdaily\.com/app3/boot_advertisements\.json url reject
^https?://notch\.qdaily\.com/api/v\d/boot_ad url reject
^https?://media\.qyer\.com/ad/ url reject
^https?://open\.qyer\.com/qyer/(config/get|startpage/) url reject
^https?://api\.qiuduoduo\.cn/guideimage url reject
^https?://api\.rr\.tv/ad/ url reject
^https?://api\.videozhishi\.com/api/getAdvertising url reject
^https?://msspjh\.emarbox\.com/getAdConfig url reject
^https?://www\.shihuo\.cn/app3/saveAppInfo url reject
^https?://api\.psy-1\.com/cosleep/startup url reject
^https?://portal-xunyou\.qingcdn\.com/api/v\d/ios/(ads/|configs/splash_ad|configs/ad_urls) url reject
^https?://m\.yap\.yahoo\.com/v18/getAds\.do url reject
^https?://i\.ys7\.com/api/ads url reject
^https?://api\.catch\.gift/api/v\d/pagead/ url reject
^https?://.+\.iydsj\.com/api/.+/ad url reject
^https?://ctrl\.(playcvn|zmzapi)\.(com|net)/app/(ads|init) url reject
^https?://a\.qiumibao\.com/activities/config\.php url reject
^https?://(api|b)\.zhuishushenqi\.com/advert url reject
^https?://api01pbmp\.zhuishushenqi\.com/gameAdvert url reject
^https?://api\.zhuishushenqi\.com/(notification/shelfMessage|recommend|splashes/ios|user/bookshelf-updated) url reject
^https?://dspsdk\.abreader\.com/v\d/api/ad\? url reject
^https?://mi\.gdt\.qq\.com/gdt_mview\.fcg url reject
^http://\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/(EcomResourceServer/AdPlayPage/adinfo|MobileAdServer/) url reject
